/* GLOBAL */
@import "./global/variables";
@import "./global/mixins";
@import "./global/fonts";
@import "./global/global";
@import "./global/common";
// @import "./global/visualy-hidden";

/* BLOCKS */
@import "./blocks/page";
@import "./blocks/page__body";
@import "./blocks/main-header";
@import "./blocks/main-nav";
@import "./blocks/sandwich";
@import "./blocks/main-container";
@import "./blocks/hero";
@import "./blocks/products";
@import "./blocks/button";
@import "./blocks/features";
@import "./blocks/section-title";
@import "./blocks/examle";
@import "./blocks/slider";
@import "./blocks/main-footer";
@import "./blocks/contacts";
@import "./blocks/footer-links";
@import "./blocks/socials";
@import "./blocks/academy";
